body { 
    font-family: sans-serif; 
    margin: 0; 
    display: flex; 
}

.container { 
    display: flex; 
    width: 100%; 
}

.sidebar {
    width: 250px;
    height: 100vh;
    background: #2c3e50;
    color: white;
    padding: 20px;
    position: fixed;
}

.sidebar a { 
    color: #ecf0f1; 
    text-decoration: none; 
    display: block; 
    margin: 10px 0; 
}

main {
    margin-left: 280px;
    padding: 20px;
    width: calc(100% - 280px); 
    box-sizing: border-box; /* Ensures padding doesn't add to the width */
}

main iframe {
    width: 100%;    
    max-width: 1000px;     
    aspect-ratio: 16 / 9;  
    height: auto;          
    border: 1px solid #ddd; 
    display: block;
    margin: 0 auto 30px;
}