body { 
    font-family: sans-serif; 
    margin: 0; 
    display: flex; 
}

main {
    margin-left: 280px;
    padding: 40px;
    flex: 1;
}

main iframe {
    width: 100%;
    border: none;
    display: block;
    margin: 0 auto 30px;
}